@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: global smooth transitions */
html, body {
  @apply bg-white text-gray-900 transition-colors duration-500;
  height: 100%;
}

html.dark, body.dark {
  @apply bg-gray-950 text-gray-100;
}

#root {
  height: 100%;
}
